/* Estilo da scrollbar para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;               /* largura da barra vertical */
  height: 12px;              /* altura da barra horizontal */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;       /* fundo da barra */
  border-radius: 10px;       /* cantos arredondados do track */
}

::-webkit-scrollbar-thumb {
  background-color: #a41585;    /* cor da “pegada” */
  border-radius: 10px;       /* cantos arredondados do thumb */
  border: 3px solid #f0f0f0; /* borda para criar efeito de “moldura” */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #310101;    /* cor ao passar o mouse */
}

/* Estilo da scrollbar para Firefox */
body {
  scrollbar-width: thin;         /* largura fina */
  scrollbar-color: #690404 #5f1212; /* cor da pegada e da track */
}


.header-box {
  background-color: rgb(245, 223, 220); /* Cor de fundo da caixa */
  padding: 10px 20px;  /* Espaço interno: 10px em cima/baixo e 20px nas laterais */
  border-radius: 12px; /* Bordas arredondadas com raio de 12 pixels */
  margin: 20px auto;   /* Espaço externo: 20px em cima/baixo e centraliza horizontalmente */
  width: fit-content;  /* A largura da caixa se ajusta ao tamanho do conteúdo */
  text-align: center;  /* Centraliza o texto dentro da caixa */
  
}



 
p {
    text-align: center;
    color: #000000;
    word-break: break-word;
   }

button {
  color: rgb(222, 2, 163);
  border: 0;
  padding: 10px;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 8px;
}

.botoes-container {
  display: flex;          /* coloca os botões em linha */
  flex-wrap: wrap;        /* se não couber, quebra para a linha de baixo */
  gap: 10px;              /* espaço entre os botões */
  justify-content: center;/* centraliza no meio da tela */
  margin: 10px auto;      /* espaço externo e centraliza */
}

div {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

